.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    //background-color: rgb(233, 233, 233);
    //background-image: url("/src/assets/image/tv.jpg");
    //background-position: center;
    //background-size: cover;
    //background-repeat: no-repeat;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
